:root {
  --back-color: #302C42;
  --text-color: #FFFFFF;
  --fiolet: #7F5ADD;
  --fiolet-light1: #8176AF;
  --green: #BAEDB2;
  --fiolet-light: #C0B7E8;
  --dark: #0E0E0E;
  --red: #F81A1A;
  --back_modal: #211E2E;

  --gradient-dark: radial-gradient(75% 75% at 50% 50%, #433D60 0%, #211E2E 100%);
  --gradient-fiolet: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);

  --field-height: 3rem;

  --padding: 1.5rem;

}

@media(max-width: 464px) {
  :root {
    --field-height: 2.5rem;
  }
}