:root {
  --back-color: #302C42;
  --text-color: #FFFFFF;
  --fiolet: #7F5ADD;
  --fiolet-light: #C0B7E8;
  --dark: #0E0E0E;

  --gradient-dark: radial-gradient(75% 75% at 50% 50%, #433D60 0%, #211E2E 100%);
  --gradient-fiolet: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);

  

  --padding: 1.5rem;

}