.audit {
    padding: 5rem 0;
    background-image: url('svg/beauty/line2.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 100%;

    &-inner {
        background-image: url('images/explore.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right 100%;
    }

    &-info {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        max-width: 60%;

        &_title {
            font-weight: 700;
            line-height: 125%;
            font-size: 2.25rem;
        }

        &_text {
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 125%;
        }
    }

    &-image {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 70%;
        }
    }
}

@media(max-width: 767px) {
    .audit {
        padding: 1rem 0;

        &-inner {
            background-image: none;
        }

        &-info {
            max-width: 100%;
        }
    }
}