.footer {
  background: #211E2E;

  &-inner {
    padding: 2rem 0;

    .socials_list {
      width: 100%;
    }
  }

  &-logo {
    img {
      height: 60px;
    }
  }

  &-top {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
  }

  &-text {
    font-weight: 700;
    font-size: clamp(0.8rem, 2.5vw, 1rem);
    line-height: 125%;
    text-align: center;
  }
}

@media(max-width: 464px) {
  .footer {

    &-top {
      flex-direction: column;
    }

    &-logo {
      img {
        height: 75px;
      }
    }
  }
}