.info {
    background-image: url('svg/beauty/line1.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right 100%;

    &-inner {
        padding: 1.5rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        gap: 1rem;
    }

    &_item {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 1.5rem;
        background: radial-gradient(2900.76% 65.13% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
        border-radius: 1.5rem;

        &-title {
            display: flex;
            padding-bottom: 0.6rem;
            gap: 1.2rem;
        }

        &-subtitle {
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 125%;
        }

        &-desc {
            font-size: 0.8rem;

            &__center {
                text-align: center;
                font-size: 1rem;
                font-weight: 500;
            }
        }

    }
}

@media(max-width: 767px) {
    .info {
        &-inner {
            padding: 0;
        }

        &_item {
            &-subtitle {
                font-size: clamp(1rem, 3vw, 1.5rem);
            }
        }
    }
}