@import 'utils/variables.scss';
@import 'utils/fonts.scss';
@import 'utils/globalClass.scss';


*,
::after,
::before {
    box-sizing: border-box
}

* {
    -webkit-tap-highlight-color: transparent;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-button {
        background-repeat: no-repeat;
        width: 6px;
        height: 0px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: var(--fiolet);
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
}

:root {
    --app-height: 100%;
}

html,
body {
    height: var(--app-height);
}

#app {
    overflow: hidden;
}

body {
    height: 100%;
    margin: 0px;
    background-color: #302C42;
    color: var(--text-color);
    font-family: 'Montserrat';

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-button {
        background-repeat: no-repeat;
        width: 6px;
        height: 0px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: var(--fiolet);
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
}

p {
    margin: 0;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    // font-family: 'ProstoOne';
    margin: 0;
}