.services {
    margin: 5rem 0;
    background-image: url('svg/beauty/lineBig.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left 100%;

    &-skills {
        padding-top: 3rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1rem;

        &_item {
            background: var(--gradient-dark);
            border-radius: 1rem;
            padding: var(--padding);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;

            &-circle {
                width: 5rem;
                height: 5rem;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #0e0e0e5e;

                img {
                    width: 65%;
                }
            }

            &-line {
                height: 1px;
                background: var(--fiolet-light);
                width: 100%;
            }

            &-title {
                font-size: clamp(1rem, 2.5vw, 1.5rem);
                line-height: 125%;
            }

            &-desc {
                font-size: 1rem;
                font-weight: 500;
            }
        }
    }
}

@media(max-width: 767px) {
    .services {
        margin: 3rem 0;
    }
}