:root {
    // --marquee_width: 80vw;
    --marquee_width: 1240px;
    --marquee_height: 12vh;
    --marquee_elements_displayed: 4;
    --marquee_element_width: calc(var(--marquee_width) / var(--marquee_elements_displayed));
    --marquee_animation_duration: 50s;
}

.tech {
    margin: 3rem 0;

    &-lines {
        margin: 2rem 0;
    }
}

.marquee {
    margin: 0 auto;
    background: transparent;
    width: var(--marquee_width);
    // height: var(--marquee_height);
    position: relative;
    overflow: hidden;

    &::before,
    &::after {
        position: absolute;
        top: 0;
        width: 10rem;
        height: 100%;
        content: "";
        z-index: 1;
    }

    &::before {
        left: 0;
        background: linear-gradient(to right, var(--back-color) 0%, transparent 100%);
    }

    &::after {
        right: 0;
        background: linear-gradient(to left, var(--back-color) 0%, transparent 100%);
    }

    &-content {
        list-style: none;
        height: 100%;
        display: flex;
        gap: 10px;
        margin: 7px 0;
        animation: scrolling var(--marquee_animation_duration) linear infinite normal none running;

        &_end {
            animation: scrolling 40s linear infinite reverse;
        }

        &:hover {
            animation-play-state: paused;
        }

        &_item {
            padding: 15px;
            background: rgba(255, 255, 255, 0.09);
            width: var(--marquee_element_width);
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: clamp(0.9rem, 3vw, 1.3rem);
            font-weight: 600;
            white-space: nowrap;
            border-radius: 1rem;
            text-transform: uppercase;
            transition: .3s ease-in-out;

            &:hover {
                background: transparent;
                border-color: rgba(255, 255, 255, 0.09);
                transform: scale(0.98);
            }

            img {
                object-fit: contain;
                margin: 15px;
                width: 100%;
            }
        }
    }
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes scrollingReverse {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-1*var(--marquee_element_width)*var(--marquee_elements)));
    }
}

@media (max-width: 1240px) {
    :root {
        --marquee_width: 100vw;
    }
}

@media (max-width: 767px) {
    :root {
        --marquee_height: 15vh;
    }
}

@media (max-width: 600px) {
    :root {
        --marquee_elements_displayed: 3;
    }

    .marquee {

        &::before,
        &::after {
            width: 5rem;
        }
    }
}

@media (max-width: 464px) {
    :root {
        --marquee_height: 12vh;
        --marquee_elements_displayed: 3;
        --marquee_animation_duration: 35s;
    }

    .tech {
        .wrapper {
            padding: 0;
        }

        .title {
            padding: 0 1.5rem;
        }
    }
}